
		<legend id="arrow2"><i class="icon-chevron-right arrow2" ></i>Options for csv</legend>
		<div class="scnd" style="display:none">
		
		<div class="control-group" >
		<label class="control-label">Encode to</label>
		<div class="controls">
		<select name="encoding_to">
		<option value=""></option>
		</select>
		<p class="help-block">Choose output encoding. Leave empty to let current input encoding untouched: (UTF-8)</p>
		</div>
		</div>

		<div class="control-group">
		<label class="control-label">No header</label>
		<div class="controls">
		<input type="checkbox" value="true">
		<p class="help-block">Do not output a header (no fields description)</p>
		</div>
		</div>

		<div class="control-group">
		<label class="control-label">Column separator</label>
		<div class="controls">
		<select name="col_sep">
		<option value=","></option>
		<option value=",">&lt;comma&gt; ','</option>
		<option value=";">&lt;semicolon&gt; ';'</option>
		<option value="' '">&lt;tabs&gt;</option>
		</select>
		<p class="help-block">Leave blank for default (',')</p>
		</div>
		</div>
		</div>

