 <div class="navbar navbar-fixed-top" style="background-color: #2C2C2C;">
	<div class="navbar-inner" >  	  
	<a href='/adminoperations' class="apptitle">Sinatra Admin </a>  
	<div class="rtlinks nav-collapse">
	<ul class="nav pull-right">
		<li><a href="#"><span class="white user"><%=session[:uname]%></span></a></li>
		<li> <a href="/dboard_home"><span class="white">Dashboard</span></a><li>		
		<li> <a href="/dboard_home"><span class="white">Home</span></a></li>	
		<li> <a href="/logout"><span class="white label label-important ht">logout</span></a>
		</li>
	 </ul>
	 </div>
	</div>
  </div>
